@use "../../Foundation/mixin" as m;


.c-title { //sectionのタイトル共通
   // width:500px;
   margin-bottom:35px;
   font-size:30px;
   font-weight:normal;
   display:flex;
   justify-content: center;
   align-items: center;
      &::before,&::after { //横線の設定
         border-top: 1px solid #333;
         content:"";
         width:3em;
      }
      &::before {
         margin-right:1em;
      }
      &::after {
         margin-left:1em;
      }
}