@use "../../Foundation/mixin" as m;


.p-company {
    padding:50px 20px; //section共通
    background-color:#e0e0e0;
    &__wrapper {
        margin:0 150px;
        display:flex;
        justify-content: space-between;
        gap:20px;
        &__table {
            &__tr {
              & td {
                line-height: 1.5rem;
                border-bottom:solid 1px #000;
              }
              &__left {
                  padding:10px;
                  border-right:1px solid #000;
                  text-align: center;
              }
              &__right {
                  padding:10px;

              }
            } 
        }
        & img {
            object-fit:cover;
        }
    }
}