@use "../../Foundation/mixin" as m;

//タイトルまわりp-featureは各箇所統一なのでp-feature参照

.p-destination {
    @include m.mq(sp){
        margin:0 4.6%;
    }
    &__wrapper {
        display:flex;
        flex-wrap:wrap;
        gap:20px;
        margin:35px 40px;
        @include m.mq(sp){
            display:block;
            margin:0 auto;
            padding-bottom:20px;
        }
        &__contents {
            display:flex;
            flex-direction: column;
            margin:0 auto;
            & img {
                width:400px;
                object-fit:cover;
                margin:40px;   
                @include m.mq(sp){
                    width:100%;
                    height:auto;
                    margin:0 auto;
                }
            }
            &__text {
                margin:0 40px;
                @include m.mq(sp){
                    margin:25px 40px;
                }
                &__erea {
                    color:#1571DA;
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom:25px;
                    @include m.mq(sp){
                        padding-bottom:10px;
                    }
                }
                &__comment {
                    line-height: 1.8rem;
                    @include m.mq(sp){
                        line-height: 1.5rem;
                    }
                }
            }
        }

    } //wrapper
    &__button {
        width:200px;
        display:block;
        margin:0 auto;
    }
}