@use "../../Foundation/mixin" as m;

.p-feature {
  padding:50px 20px; //section共通
    &__box {
        border:2px solid #ff9000;
        &__tab {
            list-style-type: none;
            border-bottom:2px solid #ff9000;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: space-between;
            font-size:24px;
            font-weight:bold;       
            & li a {
                color:#fff;
                display:block;
                text-align: center;
                padding:20px 50px;
            }
            &__tab1 a {
                background:#ff9000;
            }
            &__tab2 a { 
                background:#3ebc01;
            }
            &__tab3 a {
                background:#1e1efc;
            }
            &__tab4 a {
                background:#fc1e77;
            }
              /*liにactiveクラスがついた時の形状*/
            &__tab1 a:hover{
                color:#ff9000;
                background:#fff;
            }
            &__tab2 a:hover {
                color:#3ebc01;
                background:#fff;
            }
            &__tab3 a:hover {
                color:#1e1efc;
                background:#fff;
            }
            &__tab4 a:hover  {
                color:#fc1e77;
                background:#fff;
            }
            &__tab1.active {
                color:#ff9000;
                background:#fff;
            }
            &__tab2.active {
                color:#3ebc01;
                background:#fff;
            }
            &__tab3.active {
                color:#1e1efc;
                background:#fff;
            }
            &__tab4.active {
                color:#fc1e77;
                background:#fff;
            }

        }
        &__wrapper {
            &__contents {
                display: none;
            }
            /*is-activeというクラスがついた時の形状*/
            &__contents.is-active {
                display:grid;
                padding:50px 20px;
                gap:30px;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}