@use "../../Foundation/mixin" as m;


.p-footer {
    height:300px;
    padding:80px 7%;
    width:100%;
    background-color:#222;
    color:#fff;
    display:flex;
    justify-content:space-between;
    gap:100px;
    align-items: center;
    @include m.mq(sp){
        height: auto;
        padding:40px 15px ;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap:40px;
    }
    &__company {
        @include m.mq(sp){
            padding-left:40px;
        }
        &__name ,&__address{
            font-size:14px;
            line-height: 1.6rem;
            @include m.mq(sp){
                font-size:12px;
            }
        }
        &__copyright {
            font-size:12px;
            line-height:1.85rem;
            @include m.mq(sp){
                font-size:11px;
            }
        }
    }
    &__fnav {
        display:flex;
        justify-content: space-between;
        gap: 60px;
        font-size:14px;
        padding-right:60px;
        @include m.mq(sp){
            font-size:12px;
            gap:40px;
            padding-left:40px;
        }
        @media screen and (max-width:650px){
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            height:380px;
        }
        &__wrapper {
            &__contents {
                display:flex;
                flex-direction: column;
                line-height:2.5rem;
                color:#fff;
            }
        }
    }
}