@use "../../Foundation/mixin" as m;



.p-header {
    height:83px;
    z-index:3;
    background:#fff;
    border-bottom:1px solid #333;
    box-sizing : border-box;
    &__subtitle{
        padding-left:100px;
        height:16px;
        background-color:#009da0;
        color:#fff;
        font-size:10px;
        line-height: 16px;
    }
    &__nav {
        display:flex;
        justify-content: space-between;
        padding:0 100px;
        align-items: center;

        & img {
            width:147px;
            object-fit:cover;
            padding-top:5px;
        }
        &__wrapper {
            &__ul {
                list-style-type:none;
                display:flex;
                justify-content: center;
                &__list {
                    font-size:20px;
                    padding:0 20px;
                    border-left: 1px solid #333;
                    border-right: 1px solid #333;
                }
                & li + li {
                    border-left: 0;
                    border-right: 1px solid #333;
                }
            }
        }
    }

} //header

//ヘッダー固定用
.p-header.m_fixed {
    position :fixed;
    left :0;
    top :0;
    width:100%;
}